img{
    height:700px;
    width: auto;
}
p{
    font-style: oblique;
    font-weight: bold;
}
body{
    background-color: #CBE2F6;
    text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#menu {
  float: left;
}

#menu a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#menu a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}