<%- include('templates/header') -%>
    <h1><i class="fas fa-globe-americas"></i>Welcome to the Solar System Site!<i class="fas fa-globe-americas"></i></h1>
    <p>Click on a Planet to know more about it: <i class="fas fa-mouse"></i></p>
    <ul>
       <li id="menu" class="active"><a href="/">Home</a><br></li>
        <li id="menu"><a href="/mercury">Mercury</a><br></li>
        <li id="menu"><a href="/venus">Venus</a><br></li>
        <li id="menu"><a href="/earth">Earth</a><br></li>
    </ul>
    <iframe height="480" width="500"
        src="https://www.youtube.com/embed/libKVRa01L8">
    </iframe> <br>
    <img src="/img/solarSystem.jpg" alt="The Solar System"/>

<%- include('templates/footer') -%>