<%- include('templates/header') -%>
    <h1><i class="fas fa-globe-americas"></i>Welcome to the Solar System Site!<i class="fas fa-globe-americas"></i></h1>
    <p>Click on a Planet to know more about it: <i class="fas fa-mouse"></i></p>
    <ul>
       <li id="menu"><a href="/">Home</a><br></li>
        <li id="menu"><a href="/mercury">Mercury</a><br></li>
        <li id="menu"><a href="/venus">Venus</a><br></li>
        <li id="menu"><a href="/earth">Earth</a><br></li>
    </ul>
    <img src="/img/venus.jpg" alt="The Solar System"/>
    <ol>
        <li>Venus is the seond brightest natural object in the sky</li>
        <li>Venus is sometimes referred to as the "morning star" and "evening star"</li>
        <li>One day on Venus is longer than one year</li>
        <li>Venus is somtimes called Earth's sister planet</li>
        <li>Billion of years ago, the climate of Venus may been similar to that of Earth</li>
        <li>Venus rotate in the oppoosite direction to other planets</li>
        <li>Venus is the hottest planet in the solar system with an average surface temperature of 462C(863F)</li>
    </ol>
    <p><a href="https://theplanets.org/venus/">More Info</a></p>

<%- include('templates/footer') -%>